---
export async function getStaticPaths() {
  // Fetcher data fra databasen og ligger i konstanten 'data'
  const data = await fetch("https://jsbykhnnjnhivvvbgjji.supabase.co/rest/v1/Smykker", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzYnlraG5uam5oaXZ2dmJnamppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2Nzg3NzEsImV4cCI6MjAzMTI1NDc3MX0.sOle6ArblP4c9-jM5N5RYUlWTOaJ4okr005pwOkyil8",
    },
  }).then((res) => res.json());
  return data.map((onePost) => {
    return {
      // Lave en side der hedder id, som bruger id fra databasen (l.14)
      //   props sender ned til siden, med info fra databasen
      params: { id: onePost.id },
      props: { post: onePost },
    };
  });
}
//const { id } = Astro.params;
const { post } = Astro.props;

import MainLayout from "../../layout/MainLayout.astro";
import "../../styles/general.css";
import Card_single from "../../components/Card_single.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
---

<MainLayout title="Produktside">
  <div class="bc">
    <BreadCrumbs link="/#">
      <span class="hover">Hjem</span>&nbsp;/&nbsp;
    </BreadCrumbs>
    <BreadCrumbs link="/katalog">
      <span class="hover">Katalog</span>&nbsp;/&nbsp;
    </BreadCrumbs>
    <BreadCrumbs link="/katalog" post={post.name} />
  </div>
  <Card_single imgsingle={post.image} imgsingle2={post.image2} name={post.name} pris={post.price} texts1={post.material} texts2={post.size} texts3={post.description} texts4={post.varenummer} />
</MainLayout>
<style>
  .bc {
    display: none;
  }
  @media (min-width: 800px) {
    .bc {
      display: inline-flex;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid var(--secondary_tekst);
    }
    .hover {
      position: relative;
    }

    .hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      border-bottom: 1px solid var(--secondary_tekst);
      transition: width 0.3s ease-in-out;
    }

    .hover:hover::after {
      width: 100%;
    }
  }
</style>
