---
const { info } = Astro.props;
import Button from "./Button.astro";
---

<article data-kat={info.tags}>
  <a href={`/katalog/${info.id}`}>
    <img src=`/img/produkter/${info.image}` alt="billede af smykker" />
  </a>
  <div class="productinfo">
    <h2 class="h4">{info.name}</h2>
    <p class="pris_tekst">{info.price} kr.</p>
  </div>
  <div class="button"><Button link={`/katalog/${info.id}`} size="small">Se mere</Button></div>
</article>

<style>
  article {
    text-align: center;
    background-color: var(--primary_felter);
    padding-bottom: 1.5rem;
    align-self: flex-start;
    border-radius: var(--radius);
  }
  .productinfo {
    border-bottom: 1px solid var(--secondary_tekst);
    margin: 0.5rem 2rem;
  }

  .h4 {
    margin: 0;
    font-size: 1.1rem;
  }

  .pris_tekst {
    font-family: var(--font_ver);
    font-size: 1rem;
  }

  p {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }

  a {
    padding-top: 1rem;
  }

  .button {
    margin: 2rem 0 0.75rem 0;
  }
</style>
