---
const { header } = Astro.props;
const { introText } = Astro.props;
const { elaborationText } = Astro.props;
const { monThur, monThurTimes, fri, friTimes, weekend, weekendTimes } = Astro.props;
---

<div class="container">
  <h3 class="h2 h2_padding">{header}</h3>
  <p class="p">{introText}</p>
  <p class="p p_padding">{elaborationText}</p>

  <table class="openingHours p">
    <tr>
      <td>{monThur}</td>
      <td>{monThurTimes}</td>
    </tr>
    <tr>
      <td>{fri}</td>
      <td>{friTimes}</td>
    </tr>
    <tr>
      <td>{weekend}</td>
      <td>{weekendTimes}</td>
    </tr>
  </table>
</div>

<style>
  .container {
    background-color: var(--primary_boks);
    padding: 8% 10%;
    border-radius: var(--radius);
  }

  table.openingHours {
    width: 62%;
    /* padding-bottom: var(--spacing_5); */
  }

  table.openingHours td:last-child {
    text-align: right;
  }

  .h2_padding,
  .p_padding {
    padding-top: var(--spacing_1);
    padding-bottom: var(--spacing_1);
  }

  @media (min-width: 700px) {
    table.openingHours {
      width: 66%;
      font-size: 1.1rem;
      font-family: var(--font_geo);
      color: var(--secondary_tekst);
    }
  }
</style>
